<!DOCTYPE html>
{% load static %}
<html lang="en">
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hospital | medcare</title>
    
    <!-- fontawsome cdn goes here -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- custome css link goes here -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <body>
        <!-- header starts here  -->
        {% include 'includes/header.html' %}
        <!-- header ends here  -->


        {% block content %}



        {% endblock content %}


        {% include 'includes/footer.html'  %}
        <!-- Custome js link goes here -->
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>